name: Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    
    - uses: Swatinem/rust-cache@v2
    
    - name: Setup vcpkg and restore artifacts
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 1ba9a2591f15af5900f2ce2b3e2bf31771e3ac48
    
    - name: Install OpenBlas
      run: vcpkg install openblas --triplet x64-windows
    
    - name: Build
      run: |
        cargo build openblas --verbose --features system
        cargo build blas --verbose
    
    - name: Run tests
      run: cargo test --verbose
